/* GLOBAL */
:root {
  font-family: "Arial", "Helvetica", sans-serif;
}

body {
  color: #444444;
  margin: 0 15vw;
}

/* HEADER */
header {
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 0;
}

h1 {
  color: orangered;
  text-align: center;
  text-transform: uppercase;
}

nav > .tabs {
  padding: 0;
  text-align: center;
}

nav > .tabs > li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  list-style-type: none;
  margin: 10px 20px;
  text-transform: uppercase;
}

nav > .tabs > li > a {
  color: cornflowerblue;
  text-decoration: none;
}

nav > .tabs > li.selected > a, nav > .tabs > li > a:hover {
  text-decoration: underline;
}

/* MAIN */
.main > section {
  margin-top: 20px;
}

/* BUTTONS */
button {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background: #DDDDDD;
  text-decoration: underline;
}

/* STATS */
.games, .puzzles {
  display: flex;
}

.games > div, .puzzles > div {
  border: 1px solid lightgray;
  border-left: none;
  flex-grow: 1;
  padding: 10px;
}

.games > div:first-child, .puzzles > div:first-child {
  border-left: 1px solid lightgray;
}

/* TABLES */
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr {
  border-bottom: 1px solid lightgray;
}

td, th {
  padding: 3px;
  text-align: left;
}

/* CURRENT GAME */
.current-game {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}

/* CARDS */
.card {
  outline: 1px solid lightgray;
  outline-offset: -0.5px;
  padding: 20px;
}

.card.selected {
  outline: 3px solid black;
  outline-offset: -1.5px;
  z-index: 1;
}

/* PUZZLES */
button.wrong {
  border-color: red;
}
